<header>

<div id="brand">Mad March Rules</div>

<nav>
  {{link-to 'Rules' 'rules'}}
  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.email}}
    {{link-to 'Select Your March Runs Teams' 'select-teams'}}
    {{#if session.currentUser.isAdmin}}
      <a target='_blank' href="http://mad-march-runs-api.herokuapp.com/admin">Admin</a>
    {{/if}}
    {{link-to 'Sign out' 'sign-out'}}
  {{else}}
    {{link-to 'Log in' 'login'}}
    {{link-to 'Sign up' 'sign-up'}}
  {{/if}}
</nav>
</header>
