<header>


  <div class="mm-nav navbar navbar-default">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand top-padded-nav"}}
        <img src='MadMarchRunsNav.png'>
      {{/link-to}}
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li>{{link-to 'Game Rules' 'rules'}}</li>
        <li>{{link-to 'Select Runs Teams' 'select-teams'}}</li>
        <li>{{link-to 'Select Picks' 'picks'}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="top-padded-nav">{{session.currentUser.email}}</li>
          {{#if session.currentUser.isAdmin}}
            <li><a target='_blank' href="http://mad-march-runs-api.herokuapp.com/admin">Admin</a></li>
          {{/if}}
          <li>{{link-to 'Sign out' 'sign-out'}}</li>
        {{else}}
          <li>{{link-to 'Log In' 'login'}}</li>
          <li>{{link-to 'Sign up' 'sign-up'}}</li>
        {{/if}}
      </ul>
    </nav>
  </div>
</header>
