<h2>Picks</h2>

<h3>Your picks</h3>
<ul class="picks">
{{#each session.currentUser.picks as |pick|}}
  <li class='pick'>Round: <b>{{pick.round.name}}</b>:
    You picked {{pick.team.name}} ({{pick.team.seed}})</li>
{{else}}
  <li class='empty'>You have not selected any picks yet.</li>
{{/each}}
</ul>

<p>
  For each of the available rounds below, click "Select Matchup" next to the
  game you want to pick, then click the button to lock in the team you think
  will be the winner.
</p>

<h3>Rounds</h3>

<ol>
{{#each roundsWithPicks as |roundObj|}}
  {{#if roundObj.round.isLocked}}
    <li class='round locked'>
      <b>{{roundObj.round.name}}</b> (locked)
    </li>
  {{else}}
    <li class='round'>
      {{roundObj.round.name}}

      {{#if roundObj.pick}}
        Your pick: {{roundObj.pick.team.name}}.
      {{else}}
        <ul>
          {{#each roundObj.round.games as |game|}}
            <li class='game'>
              <div class='matchup'>
                <div class='team'>
                  {{#with game.teams.firstObject as |team|}}
                    {{team-logo team=team size="tiny"}}
                    {{team.name}} ({{team.seed}})
                  {{/with}}
                </div>
                vs
                <div class='team'>
                  {{#with game.teams.lastObject as |team|}}
                    {{team-logo team=team size="tiny"}}
                    {{team.name}} ({{team.seed}})
                  {{/with}}
                </div>

                {{#if game.isSelected}}
                  <div class='pick-winner'>
                    {{#with game.teams.firstObject as |team|}}
                      <button {{action 'selectWinner' game team}}
                        class='btn select-winner'>
                        Lock my pick for: {{team.name}}
                      </button>
                    {{/with}}
                    or
                    {{#with game.teams.lastObject as |team|}}
                      <button {{action 'selectWinner' game team}}
                        class='btn select-winner'>
                        Lock my pick for: {{team.name}}
                      </button>
                    {{/with}}
                  </div>
                {{else}}
                  <button {{action 'selectMatchup' game roundObj.round}} class='btn select-matchup'>
                    Select Matchup
                  </button>
                {{/if}}
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/if}}
{{/each}}
</ol>
