<div class="selected-teams">
  {{#each teamSlots as |teamSlot|}}
    {{#with teamSlot.team as |team|}}
      <div class="team">
        <div class="name">{{team.name}}</div>
        <div class="seed">{{team.seed}}</div>
      </div>
    {{else}}
      <div class='team empty'>empty</div>
    {{/with}}
  {{/each}}
</div>

<div class="teams">
  {{#each model as |team|}}
  <div class="team">
    <div class="name">{{team.name}} </div>
    <div class='seed'>{{team.seed}}</div>
  </div>
  {{/each}}
</div>
