USER.DIRTY {{session.currentUser.isDirty}}
USER.TEAM.DIRTY {{session.currentUser.teams.isDirty}}
<div class="selected-teams">
  {{#each teamSlots as |teamSlot|}}
    {{#with teamSlot.team as |team|}}
      <div class="team">
        <div class="name">SELECTED {{team.name}}</div>
        <div class="seed">{{team.seed}}</div>
        <button {{action 'removeTeam' team}} class="btn remove">
          Remove
        </button>
      </div>
    {{else}}
      <div class='team empty'>empty</div>
    {{/with}}
  {{/each}}

  {{#if showSaveSelections}}
    <button {{action 'saveSelections'}} class='btn'>Save Selections</button>
  {{/if}}
</div>

<div class="teams">
  {{#each model as |team|}}
  <div class="team">
    <div class="name">PICKABLE {{team.name}} </div>
    <div class='seed'>{{team.seed}}</div>
    <button
         {{action 'selectTeam' team}}
         {{bind-attr disabled=(includes-item team userTeams)}}
         class="btn select">
      {{#if (includes-item team userTeams)}}
        Selected
      {{else}}
        Select
      {{/if}}
    </button>
  </div>
  {{/each}}
</div>
