<h1>Select Your March Runs Teams</h1>

<ul class='simple-rules'>
  <li>
    Pick 3 teams from the field of 64 below to fill the three empty slots.
  </li>
  <li>
    Choose teams that you think will make deep runs in the tournament.
  </li>
  <li>
    You'll get 1 point &times; the team's seed &times; the number of wins for each team.
    <br>
    (Example: if you select Gonzaga, a 2 seed, and they win 3 times, you get 6 points.)
  </li>
  <li>
    Read the {{link-to 'full rules' 'rules'}} for more info.
  </li>
  <li>
    You can change your selections until <b>Thursday morning, March 19</b>.
  </li>
</ul>

<h2>Your March Runs teams</h2>

<div class="selected-teams">
  <div class="flex-container">
    {{#each teamSlots as |teamSlot index|}}
      {{#with teamSlot.team as |team|}}
        <a {{action 'toggleSelect' team}} class="team">
          {{team-logo team=team size="medium"}}
          <span class="name">{{team.name}}</span>
          <span class="seed">(seed {{team.seed}})</span>
        </a>
      {{else}}
        <div class='team empty'>team {{increment-number index}}: empty</div>
      {{/with}}
    {{/each}}
  </div>

  <div class='center'>
    <button disabled={{notShowSaveSelections}}
            {{action 'saveSelections'}}
            class='btn save-selections {{if notShowSaveSelections "disabled"}}'>
      {{#if isSavingSelections}}
        Saving...
      {{else}}
        Save Selections
      {{/if}}
    </button>
  </div>
</div>

<hr>

<div class="teams">
  <h2>Select {{maxTeams}} teams:</h2>

  {{#each groupedTeams as |group|}}
    <h3>{{group.region}}</h3>
    <div class="region">
      {{#each group.teams as |team|}}
        <a {{action 'toggleSelect' team}}
           class="team {{if (includes-item team userTeams) "selected"}}">

          {{team-logo team=team size="small"}}

          <div>
            <span class="name">{{team.name}}</span>
            <span class='seed'>({{team.seed}})</span>
          </div>

        </a>
      {{/each}}
    </div>

  {{/each}}
</div>
